:root {
    --blue: #18355f;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 150px 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 350px;
    height: 120px;
}

.text-content {
    width: 800px;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--blue);
    margin: 20px 0;
}

p {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 20px 0;
}

.cta {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    width: 500px;
    padding: 20px;
    border: 2px solid var(--blue);
    border-radius: 50px;
}

input::placeholder {
    color: var(--blue);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.btn {
    align-items: center;
    width: 300px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    border: none;
    border-radius: 50px;
    background-color: var(--blue);
}

footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}